@page "/"

<PageTitle>Home</PageTitle>

<form id="matrix-form">

    <table>
       <tr>
           <th>A</th>
           <th>B</th>
           <th>C</th>
           <th>D</th>

       </tr>
        @for(int i = 0; i < 4; i++)
        {
        <tr>
                @for(int j = 0; j < 4; j++)
                {
                    <td>
                        <input name="input" />
                    </td>
                }
            </tr>
        }
    </table>



    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@code {

}
