:root {
    --neutral: #000000
}

body {
    background-color: var(--neutral);
}

#main-container {
    display: flex;
}

#matrix-form-inputs {
    display: flex;
    width: 40vw;
}

#matrix-form {
    width:15em;
    height:25em;
    /*background-color:;*/
}

table {
    width: 10em;
    height: 10em;
    table-layout: fixed;
}

tr {
    width: 5px;
    height: 5px;
    padding: 0;
    margin: 0;
}

th,td {
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
}

/*th {
    width: 32px;
    height: 32px;
}*/

input {
    width: 30px;
    padding: 0em;
    margin: 0em;
}
